---
// Importamos el componente oficial de Astro para optimizar imágenes automáticamente
import { Image } from "astro:assets";

// Añadimos 'imagenPath' a las propiedades que recibe la tarjeta
const { titulo, categoria, cliente, camaras, flujo, imagenPath } = Astro.props;

// Cargamos dinámicamente la imagen desde la carpeta de assets
const imagenes = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);
if (!imagenes[imagenPath])
    throw new Error(
        `"Error de assets" - La imagen "${imagenPath}" no existe en la ruta /src/assets/`,
    );
---

<article
    class="bg-zinc-900/20 border border-zinc-800/60 rounded-sm overflow-hidden hover:border-zinc-700 transition-all duration-300 group"
>
    <div
        class="relative aspect-[2.39/1] w-full bg-zinc-950 overflow-hidden border-b border-zinc-900"
    >
        <Image
            src={imagenes[imagenPath]()}
            alt={titulo}
            class="w-full h-full object-cover opacity-40 grayscale group-hover:opacity-100 group-hover:grayscale-0 group-hover:scale-105 transition-all duration-500 ease-out"
        />
        <span
            class="absolute top-2 right-2 font-mono text-[9px] bg-black/60 text-zinc-500 px-1.5 py-0.5 rounded-xs tracking-widest uppercase"
        >
            REC STANDBY
        </span>
    </div>

    <div class="p-6">
        <span
            class="text-[10px] font-mono uppercase tracking-[0.2em] text-amber-500/80 block mb-1"
            >{categoria}</span
        >
        <h3
            class="text-zinc-100 font-semibold text-lg mb-4 tracking-wide group-hover:text-amber-500 transition-colors duration-300"
        >
            {titulo}
        </h3>

        <ul class="text-xs text-zinc-400 space-y-2 font-light mb-5">
            <li>
                <strong
                    class="font-mono text-zinc-500 text-[10px] uppercase tracking-wider"
                    >Cliente:</strong
                >
                {cliente}
            </li>
            <li>
                <strong
                    class="font-mono text-zinc-500 text-[10px] uppercase tracking-wider"
                    >Cámaras:</strong
                >
                {camaras}
            </li>
            <li>
                <strong
                    class="font-mono text-zinc-500 text-[10px] uppercase tracking-wider"
                    >Flujo:</strong
                >
                {flujo}
            </li>
        </ul>
    </div>
</article>
